<div class="super_container">
  <div class="menu_container menu_mm">
    <div class="menu_close_container">
      <div class="menu_close"></div>
    </div>
  </div>
  <div class="home">
    <div class="home_background_container prlx_parent">
      <div class="home_background prlx" style="background-image"><%= link_to image_tag("courses_background.jpg", alt: "") %></div>
    </div>
    <div class="home_content">
      <h1><%= t ".course" %></h1>
    </div>
  </div>
  <div class="popular page_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1><%= t ".popular" %></h1>
          </div>
        </div>
      </div>
      <div class="row course_boxes">
        <div class="col-lg-4 course_box">
          <div class="card">
            <div class="card-img-top"><%= link_to image_tag("course_1.jpg", alt: ""), "https://unsplash.com/@kellybrito" %></div>
            <div class="card-body text-center">
              <div class="card-title"><a href="courses.html.erb"><%= t ".a" %></a></div>
              <div class="card-text"><%= t ".adobe" %></div>
            </div>
            <div class="price_box d-flex flex-row align-items-center">
              <div class="course_author_image">
                <%= link_to image_tag("author.jpg", alt: ""), "https://unsplash.com/@mehdizadeh" %>
              </div>
              <div class="course_author_name">Michael Smith</div>
              <div class="course_price d-flex flex-column align-items-center justify-content-center">&nbsp;<span>$29</span>&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 course_box">
          <div class="card">
            <div class="card-img-top"><%= link_to image_tag("course_2.jpg", alt: ""), "https://unsplash.com/@cikstefan" %></div>
            <div class="card-body text-center">
              <div class="card-title"><a href="courses.html.erb"><%= t ".begin" %></a></div>
              <div class="card-text"><%= t ".adobe" %></div>
            </div>
            <div class="price_box d-flex flex-row align-items-center">
              <div class="course_author_image">
                <%= link_to image_tag("author.jpg", alt: ""), "https://unsplash.com/@mehdizadeh" %>
              </div>
              <div class="course_author_name">Michael Smith</div>
              <div class="course_price d-flex flex-column align-items-center justify-content-center">&nbsp;<span>$29</span>&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 course_box">
          <div class="card">
            <div class="card-img-top"><%= link_to image_tag("course_3.jpg", alt: ""), "https://unsplash.com/@dsmacinnes" %></div>
            <div class="card-body text-center">
              <div class="card-title"><a href="courses.html.erb"><%= t ".ad" %></a></div>
              <div class="card-text"><%= t ".adobe" %></div>
            </div>
            <div class="price_box d-flex flex-row align-items-center">
              <div class="course_author_image">
                <%= link_to image_tag("author.jpg", alt: ""), "https://unsplash.com/@mehdizadeh" %>
              </div>
              <div class="course_author_name">Michael Smith</div>
              <div class="course_price d-flex flex-column align-items-center justify-content-center">&nbsp;<span><%= t ".hello" %></span>&nbsp;</div>
            </div>
          </div>
        </div>
      </div><%= t ".ad" %>
      <div class="row course_boxes">
        <div class="col-lg-4 course_box">
          <div class="card">
            <div class="card-img-top"><%= link_to image_tag("course_7.jpg", alt: ""), "https://unsplash.com/@gaellemm" %></div>
            <div class="card-body text-center">
              <div class="card-title"><a href="courses.html.erb"><%= t ".a" %></a></div>
              <div class="card-text"><%= t ".adobe" %></div>
            </div>
            <div class="price_box d-flex flex-row align-items-center">
              <div class="course_author_image">
                <%= link_to image_tag("author.jpg", alt: ""), "https://unsplash.com/@mehdizadeh" %>
              </div>
              <div class="course_author_name">Michael Smith</div>
              <div class="course_price d-flex flex-column align-items-center justify-content-center">&nbsp;<span>$29</span>&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 course_box">
          <div class="card">
            <div class="card-img-top"><%= link_to image_tag("course_8.jpg", alt: ""), "https://unsplash.com/@juanmramosjr" %></div>
            <div class="card-body text-center">
              <div class="card-title"><a href="courses.html.erb"><%= t ".begin" %></a></div>
              <div class="card-text"><%= t ".adobe" %></div>
            </div>
            <div class="price_box d-flex flex-row align-items-center">
              <div class="course_author_image">
                <%= link_to image_tag("author.jpg", alt: ""), "https://unsplash.com/@mehdizadeh" %>
              </div>
              <div class="course_author_name">Michael Smith</div>
              <div class="course_price d-flex flex-column align-items-center justify-content-center">&nbsp;<span>$29</span>&nbsp;</div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 course_box">
          <div class="card">
            <div class="card-img-top"><%= link_to image_tag("course_9.jpg", alt: ""), "https://unsplash.com/@kimberlyfarmer" %></div>
            <div class="card-body text-center">
              <div class="card-title"><a href="courses.html.erb"><%= t ".ad" %></a></div>
              <div class="card-text"><%= t ".adobe" %></div>
            </div>
            <div class="price_box d-flex flex-row align-items-center">
              <div class="course_author_image">
                <%= link_to image_tag("author.jpg", alt: ""), "https://unsplash.com/@mehdizadeh" %>
              </div>
              <div class="course_author_name">Michael Smith</div>
              <div class="course_price d-flex flex-column align-items-center justify-content-center">&nbsp;<span>$29</span>&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
