<div class="super_container">
  <div class="menu_container menu_mm">
    <div class="menu_close_container">
      <div class="menu_close"></div>
    </div>
  </div>
  <div class="home">
    <div class="hero_slider_container">
      <div class="hero_slider owl-carousel">
        <div class="hero_slide">
          <div class="hero_slide_background" style="background-image"><%= link_to image_tag("slider_background.jpg", alt: "") %></div>
          <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
            <div class="hero_slide_content text-center">
              <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"><%= t ".get" %>&nbsp;<span><%= t ".education" %></span>&nbsp;<%= t ".today" %></h1>
            </div>
          </div>
        </div>
        <div class="hero_slide">
          <div class="hero_slide_background" style="background-image"><%= link_to image_tag("slider_background.jpg", alt: "") %></div>
          <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
            <div class="hero_slide_content text-center">
              <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"><%= t ".get" %>&nbsp;<span><%= t ".education" %></span>&nbsp;<%= t ".today" %></h1>
            </div>
          </div>
        </div>
        <div class="hero_slide">
          <div class="hero_slide_background" style="background-image"><%= link_to image_tag("slider_background.jpg", alt: "") %></div>
          <div class="hero_slide_container d-flex flex-column align-items-center justify-content-center">
            <div class="hero_slide_content text-center">
              <h1 data-animation-in="fadeInUp" data-animation-out="animate-out fadeOut"><%= t ".get" %>&nbsp;<span><%= t ".education" %></span>&nbsp;<%= t ".today" %></h1>
            </div>
          </div>
        </div>
      </div>
      <div class="hero_slider_left hero_slider_nav trans_200"><span class="trans_200">pr&nbsp;ev</span></div>
      <div class="hero_slider_right hero_slider_nav trans_200"><span class="trans_200">next</span></div>
    </div>
  </div>
  <div class="hero_boxes">
    <div class="hero_boxes_inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 hero_box_col">
            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
              <%= link_to image_tag("earth-globe.svg", alt: "") %>
              <div class="hero_box_content">
                <h2 class="hero_box_title"><%= t ".online" %></h2>
                <a class="hero_box_link"><%= link_to t(".view"), courses_path %></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 hero_box_col">
            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
              <%= link_to image_tag("books.svg", alt: "") %>
              <div class="hero_box_content">
                <h2 class="hero_box_title"><%= t ".ourl" %></h2>
                <a class="hero_box_link"><%= link_to t(".view"), courses_path %></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 hero_box_col">
            <div class="hero_box d-flex flex-row align-items-center justify-content-start">
              <%= link_to image_tag("professor.svg", alt: "") %>
              <div class="hero_box_content">
                <h2 class="hero_box_title"><%= t ".ourt" %></h2>
                <a class="hero_box_link"><%= link_to t(".view"), teachers_path %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popular page_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1><%= t ".popular" %></h1>
          </div>
        </div>
      </div>
      <div class="row course_boxes">
        <div class="col-lg-4 col-md-4 course_box">
          <div class="card">
            <div class="card-img-top img-thumbnail"><%= link_to image_tag("course_1.jpg", alt: ""), "https://unsplash.com/@kellybrito" %></div>
            <div class="card-body text-center">
              <div class="card-title"><%= link_to t(".why"), news_path %></div>
              <div class="card-text"><%= t ".in" %></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 course_box">
          <div class="card">
            <div class="card-img-top"><%= link_to image_tag("course_2.jpg", alt: ""), "https://unsplash.com/@cikstefan" %></div>
            <div class="card-body text-center">
              <div class="card-title"><%= link_to t(".why"), news_path %></div>
              <div class="card-text"><%= t ".in" %></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 course_box">
          <div class="card">
            <div class="card-img-top"><%= link_to image_tag("course_3.jpg", alt: ""), "https://unsplash.com/@dsmacinnes" %></div>
            <div class="card-body text-center">
              <div class="card-title"><%= link_to t(".why"), news_path %></div>
              <div class="card-text"><%= t ".in" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="register">
    <div class="container-fluid">
      <div class="row row-eq-height">
        <div class="col-lg-6 nopadding">
          <div class="register_section d-flex flex-column align-items-center justify-content-center">
            <div class="register_content text-center">
              <h1 class="register_title"><%= t ".res" %>&nbsp;<span>50%</span>&nbsp;<%= t ".discount" %></h1>
              <p class="register_text"><%= t ".in_ali" %></p>
              <div class="button button_1 register_button mx-auto trans_200"><a href="#"><%= t ".res_now" %></a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 nopadding">
          <div class="search_section d-flex flex-column align-items-center justify-content-center">
            <div class="search_background" style="background-image"><%= link_to image_tag("search_background.jpg", alt: "") %></div>
            <div class="search_content text-center">
              <h1 class="search_title"><%= t ".search" %></h1>
              <form id="search_form" class="search_form" action="post">
                <input id="search_form_name" class="input_field search_form_name" type="text" placeholder="Course Name" required="required" data-error="Course name is required.">
                <input id="search_form_category" class="input_field search_form_category" type="text" placeholder="Category">
                <input id="search_form_degree" class="input_field search_form_degree" type="text" placeholder="Degree">
                <button id="search_submit_button" type="submit" class="search_submit_button trans_200" value="Submit"><%= t "search_course" %></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services page_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1><%= t ".ours" %></h1>
          </div>
        </div>
      </div>
      <div class="row services_row">
        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
          <div class="icon_container">
            <%= link_to image_tag("earth-globe.svg", alt: "") %>
          </div>
          <h3><%= t ".online" %></h3>
          <p><%= t ".in_ali" %></p>
        </div>
        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
          <div class="icon_container">
            <%= link_to image_tag("exam.svg", alt: "") %>
          </div>
          <h3><%= t ".indoor" %></h3>
          <p><%= t ".in_ali" %></p>
        </div>
        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
          <div class="icon_container">
            <%= link_to image_tag("books.svg", alt: "") %>
          </div>
          <h3><%= t ".amazing" %></h3>
          <p><%= t ".in_ali" %></p>
        </div>
        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
          <div class="icon_container">
            <%= link_to image_tag("professor.svg", alt: "") %>
          </div>
          <h3><%= t ".exception" %></h3>
          <p><%= t ".in_ali" %></p>
        </div>
        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
          <div class="icon_container">
            <%= link_to image_tag("blackboard.svg", alt: "") %>
          </div>
          <h3><%= t ".top" %></h3>
          <p><%= t ".in_ali" %></p>
        </div>
        <div class="col-lg-4 service_item text-left d-flex flex-column align-items-start justify-content-start">
          <div class="icon_container">
            <%= link_to image_tag("mortarboard.svg", alt: "") %>
          </div>
          <h3><%= t ".graduate" %></h3>
          <p><%= t ".in_ali" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials page_section">
    <div class="testimonials_background_container prlx_parent">
      <div class="testimonials_background prlx" style="background-image"><%= link_to image_tag("testimonials_background.jpg", alt: "") %></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1><%= t ".what" %></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="testimonials_slider_container">
            <div class="owl-carousel owl-theme testimonials_slider">
              <div class="owl-item">
                <div class="testimonials_item text-center">
                  <div class="quote">“</div>
                  <p class="testimonials_text"><%= t ".in_aliq" %></p>
                  <div class="testimonial_user">
                    <div class="testimonial_image mx-auto">
                      <%= link_to image_tag("testimonials_user.jpg", alt: "") %>
                    </div>
                    <div class="testimonial_name"><%= t ".james" %></div>
                    <div class="testimonial_title"><%= t ".gra" %></div>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="testimonials_item text-center">
                  <div class="quote">“</div>
                  <p class="testimonials_text"><%= t ".in_aliq" %></p>
                  <div class="testimonial_user">
                    <div class="testimonial_image mx-auto">
                      <%= link_to image_tag("testimonials_user.jpg", alt: "") %>
                    </div>
                    <div class="testimonial_name"><%= t ".james" %></div>
                    <div class="testimonial_title"><%= t ".gra" %></div>
                  </div>
                </div>
              </div>
              <div class="owl-item">
                <div class="testimonials_item text-center">
                  <div class="quote">“</div>
                  <p class="testimonials_text"><%= t ".in_aliq" %></p>
                  <div class="testimonial_user">
                    <div class="testimonial_image mx-auto">
                      <%= link_to image_tag("testimonials_user.jpg", alt: "") %>
                    </div>
                    <div class="testimonial_name"><%= t ".james" %></div>
                    <div class="testimonial_title"><%= t ".gra" %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="events page_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1><%= t ".up" %></h1>
          </div>
        </div>
      </div>
      <div class="event_items">
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
              <div class="col-lg-2 order-lg-1 order-2">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                  <div class="event_day">07</div>
                  <div class="event_month"><%= t ".month" %></div>
                </div>
              </div>
              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name"><a class="trans_200" href="#"><%= t ".stu_fes" %></a></div>
                  <div class="event_location"><%= t ".grand" %></div>
                  <p><%= t ".in_ali" %></p>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <%= link_to image_tag("event_1.jpg", alt: ""), "https://unsplash.com/@theunsteady5" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
              <div class="col-lg-2 order-lg-1 order-2">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                  <div class="event_day">07</div>
                  <div class="event_month"><%= t ".month" %></div>
                </div>
              </div>
              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name"><a class="trans_200" href="#"><%= t ".open" %></a></div>
                  <div class="event_location"><%= t ".grand" %></div>
                  <p><%= t ".in_ali" %></p>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <%= link_to image_tag("event_2.jpg", alt: ""), "https://unsplash.com/@claybanks1989" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row event_item">
          <div class="col">
            <div class="row d-flex flex-row align-items-end">
              <div class="col-lg-2 order-lg-1 order-2">
                <div class="event_date d-flex flex-column align-items-center justify-content-center">
                  <div class="event_day">07</div>
                  <div class="event_month"><%= t ".month" %></div>
                </div>
              </div>
              <div class="col-lg-6 order-lg-2 order-3">
                <div class="event_content">
                  <div class="event_name"><a class="trans_200" href="#"><%= t ".stu_gra" %></a></div>
                  <div class="event_location"><%= t ".grand" %></div>
                  <p><%= t ".in_ali" %></p>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 order-1">
                <div class="event_image">
                  <%= link_to image_tag("event_3.jpg", alt: ""), "https://unsplash.com/@juanmramosjr" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
