<div class="super_container">
  <div class="menu_container menu_mm">
    <div class="menu_close_container">
      <div class="menu_close"></div>
    </div>
  </div>
  <div class="home">
    <div class="home_background_container prlx_parent">
      <div class="home_background prlx" style="background-image"><%= link_to image_tag("news_background.jpg", alt: "") %></div>
    </div>
    <div class="home_content">
      <h1><%= t ".the" %></h1>
    </div>
  </div>
  <div class="news">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="news_post_container">
            <div class="news_post">
              <div class="news_post_image">
                <%= link_to image_tag("news_1.jpg", alt: ""), "https://unsplash.com/@dsmacinnes" %>
              </div>
              <div class="news_post_top d-flex flex-column flex-sm-row">
                <div class="news_post_date_container">
                  <div class="news_post_date d-flex flex-column align-items-center justify-content-center">
                    <div><%= t ".day" %></div>
                    <div><%= t ".month" %></div>
                  </div>
                </div>
                <div class="news_post_title_container">
                  <div class="news_post_title">
                    <a href="news_post.html"><%= t ".why" %></a>
                  </div>
                  <div class="news_post_meta">
                    <span class="news_post_author"><a href="#"><%= t ".by" %></a></span>
                    <span>|</span>
                    <span class="news_post_comments"><a href="#"><%= t ".cmt" %></a></span>
                  </div>
                </div>
              </div>
              <div class="news_post_text">
                <p><%= t ".in" %></p>
              </div>
              <div class="news_post_quote">
                <p class="news_post_quote_text">&nbsp;<span><%= t ".e" %>E</span>&nbsp;<%= t ".tiam" %></p>
              </div>
              <p class="news_post_text" style="margin-top: 59px;"><%= t ".in" %> </p>
            </div>
          </div>
          <div class="news_post_comments">
            <div class="comments_title"><%= t ".cmt" %></div>
            <ul class="comments_list">
              <li class="comment">
                <div class="comment_container d-flex flex-row">
                  <div>
                    <div class="comment_image">
                      <%= link_to image_tag("comment_1.jpg", alt: "") %>
                    </div>
                  </div>
                  <div class="comment_content">
                    <div class="comment_meta">
                      <span class="comment_name"><a href="#">Mark Smith</a></span>
                      <span class="comment_separator">|</span>
                      <span class="comment_date"><%= t ".date" %></span>
                      <span class="comment_separator">|</span>
                      <span class="comment_reply_link"><a href="#"><%= t ".rep" %></a></span>
                    </div>
                    <p class="comment_text"><%= t ".ali" %> </p>
                  </div>
                </div>
              </li>
              <li class="comment">
                <div class="comment_container d-flex flex-row">
                  <div>
                    <div class="comment_image">
                      <%= link_to image_tag("comment_2.jpg", alt: "") %>
                    </div>
                  </div>
                  <div class="comment_content">
                    <div class="comment_meta">
                      <span class="comment_name"><a href="#"><%= t ".mark" %>Mark Smith</a></span>
                      <span class="comment_separator">|</span>
                      <span class="comment_date"><%= t ".date" %></span>
                      <span class="comment_separator">|</span>
                      <span class="comment_reply_link"><a href="#"><%= t ".rep" %></a></span>
                    </div>
                    <p class="comment_text"><%= t ".ali" %> </p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <div class="leave_comment">
            <div class="leave_comment_title"><%= t ".leave" %></div>
            <div class="leave_comment_form_container">
              <form action="post">
                <input id="comment_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
                <input id="comment_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
                <textarea id="comment_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                <button id="comment_send_btn" type="submit" class="comment_send_btn trans_200" value="Submit"><%= t ".send" %></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="sidebar">
            <div class="sidebar_section">
              <div class="sidebar_section_title">
                <h3><%= t ".archi" %></h3>
              </div>
              <ul class="sidebar_list">
                <li class="sidebar_list_item"><a href="#"><%= t ".design" %>Design Courses</a></li>
                <li class="sidebar_list_item"><a href="#"><%= t ".all" %></a></li>
                <li class="sidebar_list_item"><a href="#"><%= t ".un" %></a></li>
                <li class="sidebar_list_item"><a href="#"><%= t ".ab" %></a></li>
                <li class="sidebar_list_item"><a href="#"><%= t ".choo" %></a></li>
              </ul>
            </div>
            <div class="sidebar_section">
              <div class="sidebar_section_title">
                <h3><%= t ".la" %></h3>
              </div>
              <div class="latest_posts">
                <div class="latest_post">
                  <div class="latest_post_image">
                    <%= link_to image_tag("latest_1.jpg", alt: ""), "https://unsplash.com/@dsmacinnes" %>
                  </div>
                  <div class="latest_post_title"><a href="news_post.html"><%= t ".why" %></a></div>
                  <div class="latest_post_meta">
                    <span class="latest_post_author"><a href="#"><%= t ".by" %></a></span>
                    <span>|</span>
                    <span class="latest_post_comments"><a href="#"><%= t ".cmt" %></a></span>
                  </div>
                </div>
                <div class="latest_post">
                  <div class="latest_post_image">
                    <%= link_to image_tag("latest_2.jpg", alt: ""), "https://unsplash.com/@erothermel" %>
                  </div>
                  <div class="latest_post_title"><a href="news_post.html"><%= t ".why" %></a></div>
                  <div class="latest_post_meta">
                    <span class="latest_post_author"><a href="#"><%= t ".by" %></a></span>
                    <span>|</span>
                    <span class="latest_post_comments"><a href="#"><%= t ".cmt" %></a></span>
                  </div>
                </div>
                <div class="latest_post">
                  <div class="latest_post_image">
                    <%= link_to image_tag("latest_3.jpg", alt: ""), "https://unsplash.com/@element5digital" %>
                  </div>
                  <div class="latest_post_title"><a href="news_post.html"><%= t ".why" %></a></div>
                  <div class="latest_post_meta">
                    <span class="latest_post_author"><a href="#"><%= t ".by" %></a></span>
                    <span>|</span>
                    <span class="latest_post_comments"><a href="#"><%= t ".cmt" %></a></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="sidebar_section">
              <div class="sidebar_section_title">
                <h3>Tags</h3>
              </div>
              <div class="tags d-flex flex-row flex-wrap">
                <div class="tag"><a href="#"><%= t ".course" %></a></div>
                <div class="tag"><a href="#"><%= t ".design" %></a></div>
                <div class="tag"><a href="#"><%= t ".faq" %></a></div>
                <div class="tag"><a href="#"><%= t ".teacher" %></a></div>
                <div class="tag"><a href="#"><%= t ".school" %></a></div>
                <div class="tag"><a href="#"><%= t ".gradute" %></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
