<div class="super_container">
  <div class="menu_container menu_mm">
    <div class="menu_close_container">
      <div class="menu_close"></div>
    </div>
  </div>
  <div class="home">
    <div class="home_background_container prlx_parent">
      <div class="home_background prlx" style="background-image"><%= link_to image_tag("teachers_background", alt: "") %></div>
    </div>
    <div class="home_content">
      <h1><%= t ".teacher" %></h1>
    </div>
  </div>
  <div class="teachers page_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 teacher">
          <div class="card">
            <div class="card_img">
              <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
              <div class="card-img-top trans_200"><%= link_to image_tag("teacher_1.jpg", alt: ""), "https://unsplash.com/@michaeldam" %></div>
            </div>
            <div class="card-body text-center">
              <div class="card-title"><a href="#">Maria Smith</a></div>
              <div class="card-text"><%= t ".graph" %></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 teacher">
          <div class="card">
            <div class="card_img">
              <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
              <div class="card-img-top trans_200"><%= link_to image_tag("teacher_2.jpg", alt: ""), "https://unsplash.com/@jcpeacock" %></div>
            </div>
            <div class="card-body text-center">
              <div class="card-title"><a href="#">Christian Blue</a></div>
              <div class="card-text"><%= t ".graph" %></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 teacher">
          <div class="card">
            <div class="card_img">
              <div class="card_plus trans_200 text-center"><a href="#">+</a></div>
              <img class="card-img-top trans_200"><%= link_to image_tag("teacher_3.jpg", alt: ""), "https://unsplash.com/photos/n8jeOSxCRfQ" %></div>
            </div>
            <div class="card-body text-center">
              <div class="card-title"><a href="#">James Brown</a></div>
              <div class="card-text"><%= t ".graph" %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="milestones">
    <div class="milestones_background" style="background-image"><%= link_to image_tag("milestones_background.jpg", alt: "") %></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 milestone_col">
          <div class="milestone text-center">
            <div class="milestone_icon"><%= link_to image_tag("milestone_1.svg", alt: ""), "https://www.flaticon.com/authors/zlatko-najdenovski" %></div>
            <div class="milestone_counter" data-end-value="750">0</div>
            <div class="milestone_text"><%= t ".current" %></div>
          </div>
        </div>
        <div class="col-lg-3 milestone_col">
          <div class="milestone text-center">
            <div class="milestone_icon"><%= link_to image_tag("milestone_2.svg", alt: ""), "https://www.flaticon.com/authors/zlatko-najdenovski" %></div>
            <div class="milestone_counter" data-end-value="120">0</div>
            <div class="milestone_text"><%= t ".cer" %></div>
          </div>
        </div>
        <div class="col-lg-3 milestone_col">
          <div class="milestone text-center">
            <div class="milestone_icon"><%= link_to image_tag("milestone_3.svg", alt: ""), "https://www.flaticon.com/authors/zlatko-najdenovski" %></div>
            <div class="milestone_counter" data-end-value="39">0</div>
            <div class="milestone_text"><%= t ".app" %></div>
          </div>
        </div>
        <div class="col-lg-3 milestone_col">
          <div class="milestone text-center">
            <div class="milestone_icon"><%= link_to image_tag("milestone_4.svg", alt: ""), "https://www.flaticon.com/authors/zlatko-najdenovski" %></div>
            <div class="milestone_counter" data-end-value="3500" data-sign-before="+">0</div>
            <div class="milestone_text"><%= t ".gra" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="become">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="become_title">
            <h1><%= t ".become" %></h1>
          </div>
          <p class="become_text"><%= t ".in" %></p>
          <div class="become_button text-center trans_200">
            <a href="#"><%= t ".read" %></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="become_image">
            <%= link_to image_tag("become.jpg", alt: "") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
