<footer class="footer">
  <div class="container">
    <div class="newsletter">
        <div class="row">
          <div class="col">
            <div class="section_title text-center">
              <h1><%= t ".sub_new" %></h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <div class="newsletter_form_container mx-auto">
              <form action="post">
                <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-center">
                  <input id="newsletter_email" class="newsletter_email" type="email" placeholder="Email Address" required="required" data-error="Valid email is required.">
                  <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit"><%= t ".sub" %></button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
      <div class="footer_content">
        <div class="row">
          <div class="col-lg-3 footer_col">
            <div class="logo_container">
              <div class="logo">
                <span><%= t ".uni" %></span>
              </div>
            </div>
            <p class="footer_about_text"><%= t ".in" %></p>
          </div>
          <div class="col-lg-3 footer_col">
            <div class="footer_column_title"><%= t ".menu" %></div>
            <div class="footer_column_content">
              <ul>
                <li class="menu_item menu_mm"><%= link_to "Home", root_path %></li>
                  <li class="menu_item menu_mm"><%= link_to "About", about_path %></li>
                <li class="menu_item menu_mm"><%= link_to "Courses", courses_path %></li>
                <li class="menu_item menu_mm"><%= link_to "News", news_path %></li>
                <li class="menu_item menu_mm"><%= link_to "Contact", contact_path %></li></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 footer_col">
            <div class="footer_column_title"><%= t ".use" %></div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_list_item"><a href="#"><%= t ".tes" %></a></li>
                <li class="footer_list_item"><a href="#"><%= t ".faq" %></a></li>
                <li class="footer_list_item"><a href="#"><%= t ".com" %></a></li>
                <li class="footer_list_item"><a href="#"><%= t ".cam" %></a></li>
                <li class="footer_list_item"><a href="#"><%= t ".tui" %></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 footer_col">
            <div class="footer_column_title"><%= t ".contact" %></div>
            <div class="footer_column_content">
              <ul>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <%= link_to image_tag("placeholder.svg", alt: "") %>
                  </div>
                  Blvd Libertad, 34 m05200 Arévalo
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <%= link_to image_tag("smartphone.svg", alt: "") %>
                  </div>
                  0034 37483 2445 322
                </li>
                <li class="footer_contact_item">
                  <div class="footer_contact_icon">
                    <%= link_to image_tag("envelope.svg", alt: "") %>
                  </div>hello@company.com
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_bar d-flex flex-column flex-sm-row align-items-center">
        <div class="footer_copyright">
          <span><%= t ".copy" %> &copy;<%= t ".right" %><a href="https://colorlib.com" target="_blank">Colorlib</a></span>
        </div>
      </div>
  </div>
</footer>
