<header class="header d-flex flex-row">
  <div class="header_content d-flex flex-row align-items-center">
    <div class="logo_container">
      <div class="logo">
        <%= link_to image_tag("logo.png", alt: "") %>
      </div>
    </div>
    <nav class="main_nav_container">
      <div class="main_nav">
        <ul class="main_nav_list">
          <li class="main_nav_item"><%= link_to "Home", root_url %></li>
          <li class="main_nav_item"><%= link_to "About", about_path %></li>
          <li class="main_nav_item"><%= link_to "Courses", courses_path %></li>
          <li class="main_nav_item"><%= link_to "News", news_path %></li>
          <li class="main_nav_item"><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="header_side d-flex flex-row justify-content-center align-items-center">
    <%= link_to image_tag("phone-call.svg", alt: "") %>
    <span>+43 4566 7788 2457</span>
  </div>
  <div class="hamburger_container">
    <i class="fas fa-bars trans_200"></i>
  </div>
</header>
